#AuthBody {
    padding: 0;
    margin: 0;
    border: 0;
    background: url("/Assets/Background-2/5334569.svg") no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Amatic SC', cursive;
}

.containerBox {
    height: auto;
    width: 400px;
    margin: 150px auto 0px auto;
}

input[type=email], input[type=password], input[type="text"] {
    height: 30px;
    width: 67%;
    padding: 10px 65px;
    font-size: 20px;
    font-family: 'Merienda', cursive;
    color: darkslategray;
    border: 1px solid gray;
    border-radius: 50px;
    outline: none;
    margin-bottom: 25px;
}

.inputWithIcon {
    position: relative;
    width: 100%;
}

.inputWithIcon i {
    position: absolute;
    left: 0;
    top: 0px;
    padding: 18.1px 15px;
    color: white;
    background-color: gray;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.redirectLink {
    margin: 0px 170px;
    font-family: 'rajdhani', Courier, monospace;
    text-decoration: none;
    font-weight: bold;
    color: rgb(70, 70, 194);
    font-size: 18px;
}

.authButton {
    margin: 0 135px 10px 135px;
    font-family: 'rajdhani', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    background: gray;
    border: none;
    color: white;
    border-radius: 50px;
}

.btn {
    height: 50px;
    width: 130px;
    cursor: pointer;
}
