
@{
    ViewData["Title"] = "Congrats! <br> Your sign up completed";
}

<a asp-controller="SigninSignup" asp-action="Signin" style="font-size: 50px; text-align: center; color: red; margin-left: 70px;">Go to sign in page</a>


