
@{
    ViewData["Title"] = "Sign In";
}

<div class="formBox" style="width: 100%;">
    <form>
        <div class="inputWithIcon">
            <input type="email" name="email" placeholder="Email">
            <i class="far fa-envelope fa-lg fa-fw"></i>
        </div>
        <div class="inputWithIcon" style="margin-bottom: 20px;">
            <input type="password" name="password" placeholder="Password">
            <i class="fa fa-lock fa-lg fa-fw"></i>
        </div>
    </form>
    <button id="signInButton" class="btn authButton">Sign In</button>
    <a class="redirectLink" asp-area="" asp-controller="SigninSignup" asp-action="Signup">Sign Up</a>
</div>

